/*@import url('https://fonts.googleapis.com/css?family=Abel');*/
@import url('https://fonts.googleapis.com/css?family=Lora');
body{
  font-family: 'Lora', serif;
  /* background-color: #BDBDBD; */
  /*font-family: 'Abel', sans-serif;*/
}
h4, h5 {
    color: #283593;
}
.pb{
  padding-bottom: 30px;
}
.pt{
  padding-top: 30px;
}
.glass{
  height: 100vh;
  background-color: rgba(255,69,0, 0.2);
}
a, a:hover{
  text-decoration: none;
}
img{
  width: 100%;
  height: auto;
}
.new{
  color: #2E7D32;
}
td{
  color: #283593;
}
.taskDetails input, .frequency input, .frequency select{
  margin-bottom: 10px;
  /* background: rgba(255, 255, 255, 0); */
  border: 0;
  border-bottom: 1px solid #000000 !important;
}
.divPadLeft{
  padding-left: 0;
}
.divPadRight{
  padding-right: 0;
}
.frequency{
  padding: 0;
}
